*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(135deg, #f33472, #fb6334);
    z-index: -1;
}
#wrapper{
    width: 95%;
    margin: 20px auto;
   
    
}
footer{
    margin-top:  25px;
	padding: 35px;
    color: #ffffff;
    font-weight: 600;
	text-align: center;
    background-color: #322b3a;
}
.footerInfo{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 35px;
   /* background: #423a4a;*/
   
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    gap: 30px;
    width: 100%;
}
.footerInfo a img{
    width: 30px;
    height: auto;
}
.footerInfo div {
    display: flex; /* Ensures the anchor tags and images are inline within each div */
    margin: 0;
}
header{
    background-color:#fff;
    color: #fff;
    
}
header div{
    margin-left: 20px;
    padding-bottom: 0;
}
.logo img{
    width: 120px;
    height: auto;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    flex-direction: column;
}
.l-text{
    font-size: 0.8em;
    padding-bottom: 10px;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px ;
	margin-bottom: 15px;
	margin-top: 5px;
    color: #f8f9fa;
    
}
.form h2{
    font-size: 1.2em;
}

h2{
    color: #f8f9fa;
}
legend{
    color: #f8f9fa;
    font-size: 1.25em;
    font-weight: 600;
}
::placeholder{
	color: #bbb;
	padding-left: 5px;
    font-size: 0.9em;
}
fieldset{
    border-color: #f8f9fa;
    border-style: solid;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
button{
	background: #f8f9fa;   
	border: 1px solid #f8f9fa;
	border-radius: 5px;
	color: #fd3f5c;
	font-size: 1.2em;
    font-weight: 600;
	margin-top: 10px;
	padding: 10px 30px;
}
input[type="text"], input[type="email"], select{
    display: block;
    border: 1px solid #eb93bd;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    }
    input:focus{
        background-color: #c55767;
    }
    @media screen and (min-width: 768px){
        #wrapper {
            width: 75%;
            margin: auto;
        }
    }